*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Lato", sans-serif;
    background-color: #bdc3c7;
    background-image: linear-gradient(315deg, #bdc3c7 0%, ##2c3e50 74%);

}
h2{
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;

}
.coming-soon{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.countdown{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.day, .hour, .minute, .second
{
    font-size: 3rem;
}
.waiting{
    height: 50vh;
}